@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,500;1,600&display=swap');

*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    color:white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('the_witcher_hell.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
header{
    text-transform: uppercase;
}

figure{
    display:inline-block;   
    margin-left:150px;
}

h1{
    display:inline-block ;   
    font-weight: 100;
    vertical-align: 40px;
    margin-left: 50px;
    width: 20vw; 
}

a{
    text-decoration: none;
}

nav{
    display:inline-block;
    vertical-align: 40px;
    margin-left: 170px;
}

li{
    display:inline-block;
    list-style: none;
    margin-left: 40px;
}

li:hover{
    cursor: pointer;
    font-weight: bold;
}

main{
    background-image: url('the_witcher_kavil2.png');
    background-repeat: no-repeat;
    background-size:contain;  
    margin-left: 550px;
}

section{  
    width:50%;
    display: block;
}

.wild-hunt{
    margin-top: 350px;
    margin-left: 40px;
}

.wild-hunt img{
    width: 22vw;
    margin-top: -80px;
}

button{
    background-color: brown;
    width: 48%;  
    padding: 3%; 
    border-radius: 10px;
    font-size: 10px;
    margin-left: 80px; 
}
